<!-- appointments/templates/appointments/report.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <h1>Báo cáo cuộc hẹn</h1>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Patient Name</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Doctor Name</th>
            <th>Reason</th>
            <th>Date</th>
        </tr>
        {% for appointment in appointments %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ appointment.patient.full_name }}</td>
            <td>{{ appointment.patient.date_of_birth }}</td>
            <td>{{ appointment.patient.gender }}</td>
            <td>{{ appointment.patient.address }}</td>
            <td>{{ appointment.doctor.full_name }}</td>
            <td>{{ appointment.reason }}</td>
            <td>{{ appointment.appointment_date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
