<!DOCTYPE html>
<html>
<head>
    <title>Báo cáo cuộc hẹn</title>
</head>
<body>
    <h1>Báo cáo cuộc hẹn</h1>
    <table border="1">
        <tr>
            <th>Số</th>
            <th>Tên bệnh nhân</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Địa chỉ</th>
            <th>Tên bác sĩ</th>
            <th>Lý do</th>
            <th>Ngày</th>
        </tr>
        {% for item in report_data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.patient_name }}</td>
            <td>{{ item.dob }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.doctor_name }}</td>
            <td>{{ item.reason }}</td>
            <td>{{ item.date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
