{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <title>Đăng ký</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Đăng ký tài khoản</h1>
      <form method="POST" action="{% url 'register_user' %}">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="register-button">Đăng ký</button>
        <p>
          Đã có tài khoản? <a href="{% url 'login_user' %}">Đăng nhập ngay</a>
        </p>
      </form>
    </div>
  </body>
</html>
